@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src:
    url('/fonts/Pretendard-Light.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Light.subset.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src:
    url('/fonts/Pretendard-Regular.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.subset.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src:
    url('/fonts/Pretendard-Medium.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Medium.subset.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src:
    url('/fonts/Pretendard-SemiBold.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-SemiBold.subset.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src:
    url('/fonts/Pretendard-Bold.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Bold.subset.woff') format('woff');
}

@theme {
  /* ============= 커스텀 정의 ============= */
  /* 헤더 높이값 - 58px */
  --header-height: 3.625rem;

  /* pc 너비 기준 - 더 추가해도 됨 */
  --pc-inner: 57.5rem; /* 920px */

  /* z-index */
  --header-index: 100;
  --navbar-index: 100;
  --modal-index: 200;

  /* 컬러 - 이렇게 정의하면 text-*, bg-* 같은 유틸리티도 사용 가능 */
  --color-primary: #15c0cc;
  --color-graybg: #f6f6f6;
  --color-darknavy: #041C54;
  /* ============= //커스텀 정의 ============= */

  /* ============= 재정의 ============= */
  --spacing: 0.0625rem;
  --default-font-family: "Pretendard", "Malgun Gothic", "맑은 고딕";
  /* ============= //재정의 ============= */
}